In [29]:
import pandas as pd

In [30]:
df=pd.read_csv("salaries (1).csv")

In [31]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [49]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [50]:
input=df.drop('salary_more_then_100k',axis=1)

In [51]:
target=df['salary_more_then_100k']

In [52]:
from sklearn.preprocessing import LabelEncoder
company1=LabelEncoder()
job1=LabelEncoder()
degree1=LabelEncoder()

In [58]:
input['company_n']=company1.fit_transform(input['company'])
input['job_n']=job1.fit_transform(input['job'])
input['degree_n']=degree1.fit_transform(input['degree'])

In [59]:
inputs_n=input[["company_n","job_n","degree_n"]]

In [61]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [62]:
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [63]:
model.score(inputs_n,target)

1.0

In [64]:
model.predict([[2,1,0]])

array([0], dtype=int64)

In [65]:
model.predict([[1,1,0]])

array([1], dtype=int64)

In [66]:
model.predict([[0,0,0]])

array([0], dtype=int64)